root: {
    --mainPink:#e40a85;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    background-color: var(--mainPink);
}

.left {
    float: left;
}

.right {
    float:right;
}

.clear {
    clear:both;
}
.pink {
    color: var(--mainPink);
}
