* {
    margin: 0;
}

h1 {
    border: solid blue 2px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 5px red;
    width:50%;
    margin: 10px auto;
    padding: 15px 5px;
    text-align:center;
    background-color: #bababa;
}
body {
    background-color: blue;
    background-image: url("../../../Images/In-Class/Week-6/boxtest/sushi.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}
main {
    /* border: dashed red 3px; */
    margin: 20px;
    background-color:yellow;
}
main h2 {
    /* border: green double 4px; */
    padding: 30px 5px;
    margin: 10px;
}
p {
    text-indent: 40px;
    
}